/build/
/dist/
/generated/
/resources/Blocks.txt
/resources/UnicodeData.txt
/resources/fc-lang
/target/
/tmp/

# Files that end in ~ tend to be autosave files
*~
# Apple folder metadata
*.DS_Store
# Vim autosave files
.*.swp
